<div class="panel panel-primary">
    <div class="panel-heading" ng-click="collapseProfile()">
        <h4>{{user.name}}</h4>
    </div>
    <div class="panel-body" ng-show="!collapsed">
        Email: {{user.email}}<br/>

        <bt-address></bt-address>

        <h4>Friends:</h4>
        <ul>
            <li ng-repeat="friend in user.friends">
                {{friend}}
                <button ng-click="removeFriend(friend)">X</button>
            </li>
        </ul>

        <button ng-click="unlike()" ng-show="liked">Unlike</button>
        <button ng-click="like()" ng-show="!liked">Like</button>
    </div>
</div>
