@import '../../node_modules/spinthatshit/src/loaders';

.loader-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.loader {
  @include loader01;
}

.job-form {
    width: 600px;
    margin: 10px;
}

.job-save-button {
    margin-top: 10px;
}
